SPRING_PROFILES_ACTIVE=dev

SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/lavoute
SPRING_DATASOURCE_USERNAME=lavoute
SPRING_DATASOURCE_PASSWORD=lavoute
DB_PASSWORD=lavoute
DB_ROOT_PASSWORD=root

# change moi
HASHIDS_SALT=AJDI840LSUDNfh83cbnSBF6
# change moi (salt pour les liens de partage)
HASHIDS_DOWNLOAD_SALT=5LYDcj2yCKcXFbr77ZOApZgHvaE1N

STORAGE_ROOT=storage
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=100MB

# Prod only (HTTPS)
#DOMAIN=lavoute.xyz
#ACME_EMAIL=admin@lavoute.xyz

# Staging only
#BASIC_AUTH_ENABLED=false
#BASIC_AUTH_USERNAME=admin
#BASIC_AUTH_PASSWORD=changemoi
