SPRING_PROFILES_ACTIVE=dev

SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/lavoute
SPRING_DATASOURCE_USERNAME=lavoute
SPRING_DATASOURCE_PASSWORD=lavoute
DB_PASSWORD=lavoute
DB_ROOT_PASSWORD=root

# change moi
HASHIDS_SALT=AJDI840LSUDNfh83cbnSBF6

VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA

STORAGE_ROOT=storage
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=100MB

# Prod only (HTTPS)
#DOMAIN=lavoute.xyz
#ACME_EMAIL=admin@lavoute.xyz

# Staging only
#BASIC_AUTH_ENABLED=false
#BASIC_AUTH_USERNAME=admin
#BASIC_AUTH_PASSWORD=changemoi
